<%-include('./partials/header.ejs')%>
<link rel="stylesheet" href="./css/FinalPage.css"/>

</head>
<body>
        <div class="messageDiv">
                <h1 class="logoFont heading mt-30">Serve My Table</h1><br><br>
                <h1 class="heading"><img src="./assets/tick.svg" width="200" height="200"></h1><br>
                <h3 class="mFont heading">Thank You for Believing in Us</h2>
                <h4 class="mFont heading">Your Order is Being Prepared</h3>
        </div>


<%-include('./partials/footer.ejs')%>
