.heading{
        text-align: center;
        color: black;
}

body{
        background-color: var(--theme-color);
        margin : 0;
        padding: 0;
}

.messageDiv{
        width: 100%;
        height: 100%;
        vertical-align: middle;
        
}